* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
     Geneva, Verdana, sans-serif;

}

:root {
    /* Declaro variables CSS con colores principales */
    --color-theme: #00594c;
    --color-active: #5df2d6;
    --color-back-active: #04957d;
    --color-gradient: linear-gradient(to right, var(--color-theme),
var(--color-back-active));
}

body {
    position: relative;
    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button,
a{
    user-select: none;
    -webkit-user-select: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--color-gradient);
    border-radius: 0px 0px 35px 35px;
    box-shadow: 0px 2px var(--color-active);
}

nav>ul {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

nav li {
    flex:0 0 auto;
}

nav li a {
    display: block;
    padding: 16px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: var(--color-active);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav li.current-page a {
    color: var(--color-theme);
    background-color: var(--color-active);
    pointer-events: none;
    /*border-radius: 15px 15px 0 0;*/
}

main {
    margin-top: 120px;
    overflow: auto;
    padding: 16px;
    padding-bottom: 60px;
    height: calc (100% - 120px);
}

h1 {
    text-align: center;
    margin:
        0;
    color: white;
}

h1>img {
    width: 70px;
    vertical-align: middle;
}

h2 {
    color: var(--color-theme);
    margin: 16px 0;
    text-align: center;
}

h3 {
    color: var(--color-theme);
    margin: 8px 0;
}

main section {
    display: flex;
    justify-content: space-around;
}

footer {
    position: fixed;
    bottom: 0px;
    background: var(--color-gradient);
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer p {
    font-size: small;
    color: white;
    
}

main p {
    margin-bottom: 16px;
}
/*Agregamos el estilo para todos los botones.*/
button{
    border: none;
    background-color: var(--color-theme);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;        
}


#sucess{
    display: none;
    background-color: #28a745;
}

#error{
    display: none;
    background-color: #dc3545;
}

#warning{
    display: none;
    background-color: #ffc107;
}
button:hover, .sendForm:hover{
    background-color: var(--color-back-active);
    cursor: pointer;
}

/* Media Query: Estilos a aplicar sólo en pantallas mayores a 400px */
@media (min-width: 400px) {
    main {
        padding-left: 10%;
        padding-right: 10%;
    }

    footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}