.add-city{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-city p{
    border-radius: 15px;
    color:white;
    text-align: center;
    padding: 15px;
    margin: 10px;
}

#sucess{
    display: none;
    background-color: #28a745;
}

#error{
    display: none;
    background-color: #dc3545;
}

#warning{
    display: none;
    background-color: #ffc107;
}