.card{
    display: none;
    flex-direction: column;
    background: rgb(247, 247, 247);
    background: radial-gradient(circle, rgb(252, 252, 252) 0%, var(--color-active) 100%);
    margin: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    
}
.card img{
    /*CENTRAMOS LA IMAGEN*/
    margin-left: auto;
    margin-right: auto;
}

.card p{
  
    text-align: center;
}
#city-list ,select, option{
    font-size: 1em;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    

}
#error {
    display: none;
    background-color: yellow;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
}
#errorload{
    display: none;
    background-color: rgb(218, 199, 31);
    color: white;
    text-align: center;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
}